body {
    margin:0;
    padding:0;
    background-color:#4356B3;
}
main{
    position:absolute;
    top:5%;
    left:5%;
    width:90%;
    height:90%;
    background-color:white;
    border-radius:2%;
}

h1{
    position:absolute;
    left:45%;
    font-size:27px;
}



form{
    position:absolute;
    top:10%;
    left:8%;
    width:80%;
    height:80%;
}
section{
    height:25%;
   box-shadow: 4px 5px 5px black;
   border-radius:2%;
}
fieldset{
    border:none;
    width:10%;
    top:22%;
    
}

#section1 fieldset:first-of-type{
    position:absolute;
    
}
#section1 fieldset:nth-of-type(2){
    position:absolute;
    left:10%;
}

#section1 fieldset:nth-of-type(3){
    position:absolute;
    left:19%;
}

#section2 {
    top:30%;
}
#section2 fieldset:first-of-type{
    position:absolute;
    top:50%;
}
#section2 fieldset:nth-of-type(2){
    position:absolute;
    left:10%;
    top:50%;
}

#section2 fieldset:nth-of-type(3){
    position:absolute;
    left:19%;
    top:50%;
}
#section3 {
    top:50%;
}
#section3 fieldset:first-of-type{
    position:absolute;
    top:80%;
}
#section3 fieldset:nth-of-type(2){
    position:absolute;
    left:10%;
       top:80%;
}

#section3 fieldset:nth-of-type(3){
    position:absolute;
    left:19%;
      top:80%;
}

